*, 
*::before, 
*::after {
    box-sizing: border-box;  
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* TYPOGRAPHY */
.title {
    text-transform: uppercase;
    letter-spacing: 0.3125em;
    font-weight: 400;
    margin-top: 0;
}


h1{
    font-family: 'Fraunces',sans-serif;
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}


.price > p {
    margin: 0;
}


.actual-price {
    font-family: 'Fraunces',sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color:  hsl(158, 36%, 37%);
}


/* LAYOUT */
.wrapper{
    width: 90%;
    max-width: 375px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
}


.main-content {
    padding: 1.5em 1.2em;
    text-align: left;
    max-width: 450px;
}


.price {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    gap: 1em;
}


/* IMAGE */

img {
    max-width: 100%;
    object-fit: cover;
}


/* BUTTON */
.btn {
    font-family: inherit;
    font-weight: 900;
    letter-spacing: 0.0625em;
    padding: 1em 0;
    border: none;
    cursor: pointer;
    color:  hsl(0, 0%, 100%);
    background:  hsl(158, 36%, 37%);
    width: 100%;
    border-radius: 10px;
    margin-top: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7em;
}

.btn:hover,
.btn:focus {
    background: #1A4032;
}


/* MEDIA QUERY */
@media (min-width: 768px){
    .wrapper {
        display: flex;
        max-width: 550px;
    }

    .intro,
    .main-content{
        width: 50%;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .desktop-img {
        display: block;
    }

}
